/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 22, 2023, 5:29:35 PM
    Author     : Son Nguyen
*/

body {
    background-image: linear-gradient(to right, #9999ff,#a4ebff);
}
.form-control {
    border-color: #BA68C8;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #cccccc;
}
.form-control:focus {
    border-color: #BA68C8;
    border-radius:15px;
    box-shadow:0px 0px 15px #cccccc;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}



.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.board-profile{
    margin-top: 100px;
    border-radius:15px;
    box-shadow: 0px 0px 60px #5C5696;
    background:#f8fcff83;

}
.picture_profile{
    margin-top:67px;
    border-radius:15px;

}



